.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    flex-direction: column;
  }
  
  .table {
    width: 80%;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .table-header,
  .table-row {
    display: grid;
    
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; /* ajuste de colunas conforme os campos */
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  .table-header {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: left;
  }
  
  .table-row {
    transition: background-color 0.2s ease;
  }
  
  .table-cell {
    padding: 8px 12px;
    border-right: 1px solid #ddd;
  }
  
  .table-cell:last-child {
    border-right: none;
  }
  
  /* Estilo para tarefas com custo >= R$1.000,00 */
  .highlight {
    background-color: #fff9c4;
  }
  
  /* Botão Adicionar Tarefa */
.add-task-button {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-task-button:hover {
    background-color: #45a049;
  }
  
  /* Modal Overlay */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Container */
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .modal input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .modal button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #45a049;
  }
  